
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #aed4ff;
    border-radius: 25px;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #5cb8ff;
}

.button:active {
    background-color: #4778d2;
}

.white-text {
    color: rgb(28, 48, 80);
}

.button-container {
    display: flex;
    gap: 10px;
}